name: "Gradle build (microG)"
permissions: {}
on:
  - push
  - pull_request
  - workflow_dispatch

jobs:
  build:
    name: "Build microG APKs"
    runs-on: ubuntu-latest
    env:
      GRADLE_MICROG_VERSION_WITHOUT_GIT: 1

    steps:
      - name: "Free disk space"
        run: |
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo rm -rf /opt-hostedtoolcache/go
          df -h

      - name: "Checkout sources"
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: "Setup Java"
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "17"

      - name: "Setup Gradle"
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GradleEncryptionKey }}
          build-scan-publish: true
          build-scan-terms-of-use-url: "https://gradle.com/help/legal-terms-of-use"
          build-scan-terms-of-use-agree: "yes"

      - name: "Build play-services-core APK"
        run: |
          ./gradlew build
          
        - name: "List all files in project"
        run: |
          echo "--- Listing all APK files in the project ---"
          find . -name "*.apk" -type f

      - name: "Check if APKs exist"
        id: check_apks
        run: |
          if [ -f play-services-core/build/outputs/apk/hmsDefault/release/*.apk ] && [ -f vending-app/build/outputs/apk/default/release/*.apk ]; then
            echo "APKs found!"
            echo "apk_exists=true" >> $GITHUB_OUTPUT
          else
            echo "APKs not found!"
            echo "apk_exists=false" >> $GITHUB_OUTPUT
          fi

      - name: "Upload APK artifacts"
        if: steps.check_apks.outputs.apk_exists == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: microg-apks
          path: |
            play-services-core/build/outputs/apk/hmsDefault/release*.apk
            vending-app/build/outputs/apk/default/release*.apk

      - name: "Upload build reports"
        uses: actions/upload-artifact@v4
        with:
          name: build-reports
          path: |
            **/build/reports/**/*
            **/build/outputs/lint-results*.xml
          retention-days: 7
