name: "Gradle build"
permissions: {}
on:
  - push
  - pull_request
  - workflow_dispatch

jobs:
  build:
    name: "Gradle build ${{ matrix.target }}"
    runs-on: ubuntu-latest
    env:
      GRADLE_MICROG_VERSION_WITHOUT_GIT: 1

    strategy:
      matrix:
        target: [Release]

    steps:
      - name: "Free disk space"
        run: |
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo rm -rf /opt-hostedtoolcache/go
          
          df -h
          
      - name: "Checkout sources"
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          
      - name: "Setup Java"
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "17"
          
      - name: "Setup Gradle"
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GradleEncryptionKey }}
          build-scan-publish: true
          build-scan-terms-of-use-url: "https://gradle.com/help/legal-terms-of-use"
          build-scan-terms-of-use-agree: "yes"
          
      - name: "Setup matchers"
        run: |

          matchers_dir='${{ github.workspace }}/.github/matchers'
          matcher_list()
          {
            echo 'gradle-build-matcher.json'
            echo 'gradle-build-kotlin-error-matcher.json'
          }

          matcher_list | while IFS='' read -r NAME; do
            if test -f "${matchers_dir:?}/${NAME:?}"; then
              echo "::add-matcher::${matchers_dir:?}/${NAME:?}"
              echo "Matcher configured: ${NAME:?}"
            fi
          done
          
      - name: "Execute Gradle assemble"
        run: "./gradlew assemble${{ matrix.target }}"
        
      - name: "Execute Gradle lint"
        run: "./gradlew lint${{ matrix.target }}"
        
      - name: Decode Keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > keystore.jks
          
      - name: "Apk sign"
        run: |
          jarsigner -verbose \
            -sigalg SHA1withRSA \
            -digestalg SHA1 \
            -keystore keystore.jks \
            -storepass ${{ secrets.KEYSTORE_PASSWORD }} \
            -keypass ${{ secrets.KEY_PASSWORD }} \
            play-services-core/build/outputs/apk/hmsDefault/release/*.apk \
            ${{ secrets.KEY_ALIAS }}
            
          jarsigner -verbose \
            -sigalg SHA1withRSA \
            -digestalg SHA1 \
            -keystore keystore.jks \
            -storepass ${{ secrets.KEYSTORE_PASSWORD }} \
            -keypass ${{ secrets.KEY_PASSWORD }} \
            vending-app/build/outputs/apk/default/release/*.apk \
            ${{ secrets.KEY_ALIAS }}
            
      - name: "ZipAlgin"
        run:    |
          ZIPALIGN="$ANDROID_HOME/build-tools/36.0.0/zipalign"
          mkdir outapk
          
          $ZIPALIGN -v -p 4 \
          play-services-core/build/outputs/apk/hmsDefault/release/*.apk \
          outapk/GmsCore.apk

          $ZIPALIGN -v -p 4 \
          vending-app/build/outputs/apk/default/release/*.apk \
          outapk/FakeStore.apk
          
      - name: "Upload gms artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: signed-gms-apk
          path: outapk/GmsCore.apk
          
      - name: "Upload FakeStore artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: signed-vending-apk
          path: outapk/FakeStore.apk
