name: "MicroG Gradle build"
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: "Gradle build ${{ matrix.target }}"
    runs-on: ubuntu-latest
    env:
      GRADLE_MICROG_VERSION_WITHOUT_GIT: 1
      ANDROID_SDK_ROOT: /usr/local/lib/android/sdk

    strategy:
      matrix:
        target: [Debug, Release]

    steps:
      - name: "Free disk space"
        run: |
          # Освобождаем место на диске
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo rm -rf /opt/hostedtoolcache/go
          sudo rm -rf /usr/local/lib/android
          df -h

      - name: "Checkout sources"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: "Setup Java"
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: "Setup Android SDK"
        uses: android-actions/setup-android@v3
        with:
          sdk-version: "35"
          build-tools-version: "35.0.0"
          cmdline-tools-version: "11.0
          accept-licenses: true

      - name: "Setup Gradle"
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-encryption-key: ${{ secrets.GradleEncryptionKey }}
          build-scan-publish: true
          build-scan-terms-of-use-url: "https://gradle.com/help/legal-terms-of-use"
          build-scan-terms-of-use-agree: "yes"

      - name: "Setup matchers"
        run: |
          matchers_dir='${{ github.workspace }}/.github/matchers'
          matcher_list()
          {
            echo 'gradle-build-matcher.json'
            echo 'gradle-build-kotlin-error-matcher.json'
          }
          matcher_list | while IFS='' read -r NAME; do
            if test -f "${matchers_dir:?}/${NAME:?}"; then
              echo "::add-matcher::${matchers_dir:?}/${NAME:?}"
              echo "Matcher configured: ${NAME:?}"
            fi
          done

      - name: "Set compileSdk and targetSdk to 35"
        run: |
          # Обновляем compileSdk и targetSdk в build.gradle
          sed -i 's/compileSdkVersion.*/compileSdkVersion 35/' app/build.gradle
          sed -i 's/targetSdkVersion.*/targetSdkVersion 35/' app/build.gradle

      - name: "Execute Gradle assemble"
        run: ./gradlew assemble${{ matrix.target }}

      - name: "Execute Gradle lint"
        run: ./gradlew lint${{ matrix.target }}

      - name: "Upload APK artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: microg-${{ matrix.target }}-apk
          path: |
            app/build/outputs/apk/${{ matrix.target }}/*.apk
            **/build/outputs/apk/${{ matrix.target }}/*.apk        
